- @title = 'ユーザー情報編集'
%h1= @title

.notes
  %span.mark *
  印の付いた項目は入力必須です。

= form_for current_user, url: :user do |f|
  %div
    = f.label :name, 'ユーザー名', class: 'required'
    = f.text_field :name, required: true
  .buttons
    = f.submit '更新'
    = link_to 'キャンセル', :user
