- @title = '新規登録'
%h1= @title

= form_for @user, url: :user do |f|
  = render 'form', f: f
  .buttons
    = f.submit '登録'
    = link_to 'キャンセル', :root
    = link_to 'Twitterでログイン', '/auth/twitter', class: 'twitter-form'
