- @title = 'マイページ'
%h1= @title
.table-wrapper
  .links
    = link_to 'ユーザー名を変更する', :edit_user
  
  %table.attributes
    %tr
      %th ユーザーID
      %td
        = current_user.id
    %tr
      %th ユーザー名
      %td
        = current_user.name
    - if current_user.provider == nil
      %tr
        %th メールアドレス
        %td.email
          = current_user.email
      %tr
        %th パスワード
        %td.password ************
    %tr
      %th 開始日
      %td.date
        = current_user.start_date.strftime('%Y/%m/%d')

%h2 投稿したTips一覧
.tips-wrapper
  - @tips.each do |t|
    .tip
      %span.name= "#{t.user.name}が#{time_ago_in_words (t.created_at)}前に投稿しました"
      %span.title= link_to t.title, tip_url(t)
  = link_to '投稿したTipsをもっと見る', :mine, class: 'btn'

%h2 ストックしたTips一覧
.tips-wrapper
  - @stocks.each do |s|
    .tip
      %span.name= "#{s.tip.user.name}が#{time_ago_in_words (s.tip.created_at)}前に投稿しました"
      %span.title= link_to s.tip.title, tip_url(s.tip)
  = link_to 'ストックしたTipsをもっと見る', :user_stocks, class: 'btn'

