%div
  = f.label :title, 'タイトル', class: 'required'
  = f.text_field :title, size: 100, required: true
%div
  = f.label :tag, 'タグ'
  %ul#tip-tags
%div
  = f.label :content, '内容', class: 'required'
  = f.text_area :content, size: 32, required: true
