- @title = @tip.title
.tip-show
  .title
    %h1= @tip.title
    .stock.cf
      - if @stock.id.blank?
        = form_for @stock, url: user_stocks_path do |f|
          = f.hidden_field :tip_id, value: params[:id]
          = f.submit 'ストックする'
      - else
        = link_to 'ストックを取り消す', user_stock_path(@stock.id), method: :delete, data: { confirm: '本当にストックを取り消しますか?' }
    %span.tags
      - @tip.tags.each do |tag|
        %span.tag= "#{tag.name} (#{tag.taggings_count})"
    - if @tip.user_id == current_user.id
      .option
        = link_to '投稿を編集する', edit_tip_url(@tip), data: { no_turbolink: true }
        = link_to '削除', [ :tip ], method: :delete, data: { confirm: '本当に削除しますか?' }
    .author.cf= "#{@tip.user.name}が#{@tip.created_at.strftime('%Y/%m/%d')}に投稿"

  .content
    %div= markdown(@tip.content)
.comments-show
  .comments
    - if @comments.present?
      %h3 コメント
    - @comments.each do |c|
      %div
        .name= c.user.name
        .time.cf= c.created_at.strftime('%F %T')
        .content= markdown(c.content)
  %h3 コメントを投稿する
  = form_for @comment, url: tip_comments_path(params[:id])  do |f|
    %div
      = f.text_area :content, size: 32, required: true
    .buttons
      = f.submit '投稿する', class: 'btn'
